:root {
  --red: #BD2A2E;
  --black: #3B3936;
  --gray: #B2BEBF;
  --green: #889C9B;
  --dgreen: #486966; 
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}

/* ---  profile header --- */
.header-container {
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 0;
  border: 2px black;
  border-style: none none solid none;
}

.header-container h1 {
  padding-left: 130px;
  float: left;
  width: 300px;
  font-size: 17px;
}

.header-container input[type=text] {
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: 300px;
  border: 1px solid black;
  font-size: 20px;
  border-radius: 5px;
  padding-right: 200px;
}

/* ---  profile classes --- */
.profiles-container
{
  float: left;
  height: 600px;
  width: 300px;
  border: 2px black;
  border-style: none solid none none;
}

.profiles-container h1 {
  text-align: center;
  width: auto;
  font-size: 50px;
  background-color: var(--dgreen);
  margin: auto;
  padding: 10px;
}
.account {
  width: 100%;
  padding: 30px;
  margin: 0;
  font-size: 30px;
  text-align: center;
  color: var(--dgreen);
}

button {
  background-color: var(--black);
  border-style: none none none none;
}

.account:hover {
  color: white;
  /*background-color: var(--dgreen);*/
  border: 5px solid black;
}

.account-contents {
  width: auto;
  padding: 15px;
  margin: 0;
  font-size: 30px;
  color: var(--dgreen);
}

.account-contents:hover {
  color: white;
  background-color: var(--green);
}

.folder-divider {
  margin: 0 auto;
  width: 80%;
  border: 1px dashed var(--dgreen);
}
.account-divider {
  margin: 0 auto;
  width: 90%;
  border: 1px solid var(--dgreen);
}

.map-container {
  text-align: center;
  width: auto;
  height: 70vh;
  margin: 0;
}